body {
    background-color: #fff;
    color: #202124;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
 
  .main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .top-bar .top-link {
    color: #202124;
    text-decoration: none;
    margin-left: 15px;
    font-size: 14px;
  }
  .search-bar {
    width: 584px;
    max-width: 90%;
    position: relative; 
  }
  .search-bar input {
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    padding: 10px 40px 10px 10px;
    width: 100%;
  }
  .search-bar input:focus {
    outline: none;
    border-color: #8ab4f8;
  }
  .search-buttons {
    display: flex;
    gap: 10px;
  }
  .search-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #888;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none; /* Evita que la lupa bloquee clics en el input */
  }
  
  .search-buttons button {
    background-color: #f8f9fa;
    color: #3c4043;
    border: 1px solid #f8f9fa;
    padding: 10px 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
  }
  footer a {
    color: #70757a;
    text-decoration: none;
    margin: 0 10px;
  }
  .footer-bottom {
    text-align: right;
  }